.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.mainNav {
  display: block;
  background-color: #222222;
}

.mainNav-list {
  margin: 0;
  padding: 0;
  font-size: 0;
  list-style: none;
  color: #ededed;
}

.mainNav-list > * {
  display: inline-block;
  box-sizing: border-box;
  vertical-align: middle;
  font-size: 1.2rem;
}

.mainNav-list > * > a {
  display: block;
  box-sizing: border-box;
  width: 140px;
  height: 5rem;
  color: #bcbcbc;
  font-weight: bold;
  line-height: 5rem;
  text-transform: uppercase;
  text-decoration: none;
}

.mainNav-list > * > a:hover {
  display: block;
  box-sizing: border-box;
  border-top: 3px solid #ededed;
  color: #ededed;
  line-height: 4.7rem;
}
